img{
    width: 50px;
    height: 50px;
    text-align: center;
}
#div {
    margin-top: 20px;
    display: grid; /*l'elemento diventa una griglia con colonne e righe*/
    justify-content: center; /*centra il memory*/
    gap: 10px;
}

.carta {
    width: 120px;
    height: 120px;
    cursor: pointer;
}
body{
    background-color: #f5f5f5;   
}
h2{
    text-align: center;
}
.facile {
    grid-template-columns: repeat(2, 1fr); /* 2 colonne uguali */
}

.media {
    grid-template-columns: repeat(4, 1fr); /* 4 colonne uguali */
}

.difficile {
    grid-template-columns: repeat(4, 1fr); /* 4 colonne uguali */
}